docs/flow.json
[{"id":"8a4e403b.2de0e","type":"http in","z":"9322a184.e62c5","name":"","url":"/pi-sample","method":"get","swaggerDoc":"","x":156.5,"y":86.25,"wires":[["b38327f6.73cab"]]},{"id":"b38327f6.73cab","type":"template","z":"9322a184.e62c5","name":"初期画面を表示する","field":"payload","fieldType":"msg","format":"html","syntax":"mustache","template":"<!DOCTYPE html>\n<html lang=\"ja\">\n\n<head>\n    <meta charset=\"UTF-8\">\n    <meta name=\"viewport\" content=\"width=device-width, initial-scale=1.0, maximum-scale=1.0\"/>\n    <title>Bluemix Node-RED</title>\n    <link rel=\"stylesheet\" href=\"https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css\" integrity=\"sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7\" crossorigin=\"anonymous\">\n    <script src=\"https://code.jquery.com/jquery-1.12.4.min.js\" integrity=\"sha256-ZosEbRLbNQzLpnKIkEdrPv7lOy9C27hHQ+Xp8a4MxAQ=\" crossorigin=\"anonymous\"></script>\n    <script src=\"https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js\" integrity=\"sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS\" crossorigin=\"anonymous\"></script>\n    <script src=\"https://cdnjs.cloudflare.com/ajax/libs/d3/3.5.17/d3.min.js\"></script>\n    <script src=\"https://unpkg.com/personality-sunburst-chart@2.0.4/dist/index.js\"></script>\n    <script src=\"https://d3js.org/d3-color.v1.min.js\"></script>\n</head>\n\n<body>\n\n<div class=\"container-fluid\">\n    <h1>Node-RED Personality Insights サンプル</h1>\n    <div>\n        <textarea class=\"form-control\" id=\"textId\" rows=\"10\" placeholder=\"テキストを入力してください。\"></textarea>\n    </div>\n    <div style=\"margin: 5px 0\">\n        <button class=\"btn btn-primary btn-block\" id=\"analyzeId\">分析する</button>\n    </div>\n    <div id=\"statusId\"></div>\n    <ul class=\"nav nav-tabs nav-justified\">\n        <li class=\"active\"><a href=\"#chartId\" data-toggle=\"tab\">Chart</a></li>\n        <li><a href=\"#resultId\" data-toggle=\"tab\">JSON</a></li>\n    </ul>\n    <div class=\"tab-content\">\n        <div class=\"tab-pane in active\" id=\"chartId\"></div>\n        <div class=\"tab-pane\" id=\"resultId\"></div>\n    </div>\n</div>\n\n<script>\n    $(document).ready(function () {\n        var image = 'https://personality-insights-livedemo.mybluemix.net/images/service-icon.svg';\n        var chart = new PersonalitySunburstChart({\"selector\": \"#chartId\", \"version\": \"v3\"});\n\n        $('#analyzeId').on('click', function () {\n            var resultId = $('#resultId');\n            var statusId = $('#statusId');\n            var text = $('#textId').val();\n            statusId.html('<p class=\"text-info\">分析中です・・・</p>');\n            $.ajax({\n                \"type\": \"POST\",\n                \"url\": \"/pi-analyze\",\n                data: {\"text\": text}\n            }).done(function (value) {\n                chart.show(value, image);\n                statusId.append('<p class=\"text-info\">・・・完了しました。</p>');\n            }).fail(function (value) {\n                statusId.append('<p class=\"text-danger\">・・・エラーが発生しました。</p>');\n            }).always(function (value) {\n                resultId.html('<pre>' + JSON.stringify(value, undefined, 2) + '</pre>');\n            });\n            return false;\n        });\n    });\n</script>\n\n</body>\n</html>","x":396.5,"y":86.75,"wires":[["842c7635.d5b158"]]},{"id":"842c7635.d5b158","type":"http response","z":"9322a184.e62c5","name":"","x":643.5,"y":86.5,"wires":[]},{"id":"9633151e.fb292","type":"http in","z":"9322a184.e62c5","name":"","url":"/pi-analyze","method":"post","swaggerDoc":"","x":158,"y":203,"wires":[["a1406bbb.866648"]]},{"id":"a1406bbb.866648","type":"function","z":"9322a184.e62c5","name":"パラメータを取得する","func":"msg.payload = msg.req.body.text;\nreturn msg;","outputs":1,"noerr":0,"x":394.5,"y":202.75,"wires":[["f51f0b63.cdd018"]]},{"id":"1b10888c.3fa7df","type":"http response","z":"9322a184.e62c5","name":"","x":804.5,"y":319.5,"wires":[]},{"id":"f51f0b63.cdd018","type":"watson-personality-insights-v3","z":"9322a184.e62c5","name":"","inputlang":"ja","outputlang":"ja","rawscores":true,"consumption":true,"x":233.5,"y":319.5,"wires":[["5c9df5ff.82e3ec"]]},{"id":"5c9df5ff.82e3ec","type":"function","z":"9322a184.e62c5","name":"分析結果を編集する","func":"msg.payload = msg.insights;\nreturn msg;","outputs":1,"noerr":0,"x":578.5,"y":319.75,"wires":[["1b10888c.3fa7df"]]},{"id":"7d432b42.ad7804","type":"catch","z":"9322a184.e62c5","name":"personality insights のエラーを制御する","scope":["f51f0b63.cdd018"],"x":291.5,"y":382.25,"wires":[["ddb96a3f.438fa"]]},{"id":"ddb96a3f.438fa","type":"function","z":"9322a184.e62c5","name":"エラー結果を編集する","func":"msg.payload = msg.error.message;\nmsg.statusCode = 500;\nreturn msg;","outputs":1,"noerr":0,"x":578,"y":382,"wires":[["1b10888c.3fa7df"]]}]